
    
        

.container{
  display: flex;
  height: 600px;
  width: 600px;
  justify-content: center;
  align-items: center;
  background-color: aqua;
flex-direction: ;
}

.counter{
color: rgba(151, 75, 75, 0.87);

}



.btn-item{
    display: flex;
    justify-content: center;
}
#add {
    background-color: #498AFB;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    
    cursor: pointer;

}
#lover {
    background-color: #498AFB;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;

}